.project {
    max-width: 80em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0% auto;
  }
  
  .project .name {
    color: #3e2469;
    font-size: 4rem;
    text-align: center;
  }
  .project img {
    display: block;
    width: 75%;
    max-width: 650px;
    border: 3px solid #000000;
    border-radius: 10px;
    margin: 0 auto;
  }

  .project .figure {
    max-width: 550px;
  }
  
  .project .skills {
    font-size: 2em;
    text-align: center;
    color: #3e2469;
  }
  
  .project svg {
    font-size: 80px;
    color: #3e2469;
  }

  .project .projectAbout {
    color: #000000;
    margin: 0 5%;
  }

  .project .projectAbout p {
    font-size: 1.5em;
  }

  .project .projectAbout h1 {
    font-size: 2em;
    text-align: left;
  }

  @media only screen and (max-width: 600px) {
    .project {
      max-width: 40em;
    }

    .project .name {
      font-size: 40px;
    }

    .project .projectAbout p {
      font-size: 20px;
    }
  }